
*{
    font-size: 12rem;
}
.navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    display: none;
    cursor: pointer;
}


.toggle-button i {
    font-size: 24px;
}

.navbar-content {
    max-width: 800px;
    width: 100%;
}

.navbar-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 767px) {
    .navbar-content {
        display: none;
        flex-direction: column;
    }

    .navbar-content ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .navbar-content ul li {
        padding: 1rem;
    }

    .toggle-button {
        color: black;
        display: block;
    }

    .navbar-content,
    .nav-item {
        display: none;
    }

    .navbar-main.active .navbar-content,
    .navbar-main.active .nav-item {
        display: flex;
        flex-direction: column;
    }
}
